bin
__pycache__/
*.pyc
.env
.vscode/
.DS_Store
.idea/
node_modules/
dist/
.build/
.buildozer/
*.log
*.sqlite3
*.db
*.iml
*.class
*.jar
*.war
*.ear
*.swp
*.swo
*.bak
*.tmp
*.old
*.orig
*.rej
*.exe
*.dll
*.so
